<div class="container-fluid">
<div class="card-50 card-border-success text-center">
  <h1 class="card-title" style="text-transform:Capitalize;"><%= current_page.data.tree_name %></h1>
    <%= image_tag current_page.data.img_path,height:'55%',maxwidth:'22%', class: 'card-image-top rounded', alt: current_page.data.img_alt %>
  <blockquote class="blockquote mb-0">
    <footer class="blockquote-footer">
      <p class="card-text" style="color:#6c6c6c;font-style:italic;"><%= current_page.data.latin_name %>
    </footer>
  </blockquote>

  <div class="card-body">
    <p class="card-text">
      <%= current_page.data.info %>
    </p>
  </div>
</div>
</div>
