<style>
  
  .info-container {
    width: 95%;
    margin: 5px 25px;
    padding: 10px 25px;
    outline: 1px black solid;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px;

     @media only screen and (max-width: 768px) {
      width: 100%;
      padding: 20px;
      margin: 10px;

     }
    }

    h1 {
      text-transform: capitalize;
      text-align: center;
    }

    .image-container {
      padding-left: 100px;
      height: 400px;
      width: 400px;
       @media only screen and (max-width: 768px) {
        padding: 0px;
        margin: 0px;
        height:100px;
        width:100px;
       }
    }

    .text-container {
      text-align: center;
    }

</style>

<div class="info-container">
<h1><%= current_page.data.tree_name %></h1>
    <div class="image-container">
    <%= image_tag current_page.data.img_path,class: 'image-container', alt: current_page.data.img_alt %>
    <p class="image-text"><%= current_page.data.latinname %>
    </div>
    <div class="text-container">
    <p>
    <%= current_page.data.info %>
    </p>
    </div>
</div>