<style>

.no-border {
  border: none;
}

.code-block {
  background: #472cc3 ;
  color:  #2fea89 ;
  padding: 10px;
  border-radius: 7px ;
  box-shadow: 5px 5px 5px 1px #151414;
  outline: 1px solid blue;
  font-family: 'Courier New';
  margin: 0px 7px;
}

ul {
  list-style: none;
  font-weight: 100;
}
  
</style>

<div class="jumbotron text-center mt-2">
  <h3>Welcome to the Top Ten Trees page</h3>
</div>

<div class="row">
  <div class="col-md-0 col-lg-3"></div>
  <div class="col-md-4 col-lg-6 mt-2">
    <div class="card rounded no-border">
      <div class="card-top">
        <h2 class="text-center">Horti</h2>
          <div class="card-text text-center p-2">
            <p>
              This page was designed as a test to showcase the QR codes for the Function of Directing users to informational pages about the trees. 
              On here ther is some basic information about the top 10 trees in the uk that I found on google.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="col-md-0 col-lg-1"></div>

<div class="row">
  <div class="col-md-0 col-lg-3"></div>
  <div class="col-md-4 col-lg-6 mt-2">
    <div class="card rounded no-border">
      <div class="card-top">
        <div class="card-text p-2 ">
          <div class="code-block">
            <ul> 
              <li>---</li> 
              <li>page_title: "alder Tree"</li>
              <li>tree_name: "alder"</li>
              <li>latin_name: "alnus glutinosa"</li>
              <li>img_loc: "Common Alder tree, Elterwater, the Lake District."</li>
              <li>img_path: "/images/alder.jpg"</li>
              <li>img_alt: "Alder Tree"</li>
              <li>info: "A tree with an elective affinity for watery edges, whether in the Midlands or Midlothian.\n
                    Also a ‘pioneer’, able to fix nitrogen through root nodules,\nmaking it suitable for infertile and brownfield sites."</li>
              <li>---</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-0 col-lg-3"></div>
  <div class="col-md-4 col-lg-6 mt-2">
    <div class="card rounded no-border">
      <div class="card-text text-center p-2">
        <p>
         The information should be provided in the above manner
        </p>
      </div>
    </div>
  </div>
</div>